$body-bg-color: #121212;
$body-accent-bg-color: #1e1e1e;
$header-menu-bg-color: #121212;
$hero-text-color: #959595;
$slogan-color: #ff0000;
$hover-text-color: #FFF;
$accent-color: #6e6e6e;


//$accent-color: #FFEC00;

