// *** Hero text
@font-face {
  font-family: 'Delamoore';
  src: url('../fonts/Delamoore.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// *** Hero slogan
@font-face {
  font-family: 'Comforter Brush';
  src: url('../fonts/ComforterBrush-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// *** Page text
@font-face {
  font-family: 'Sawarabi';
  src: url('../fonts/SawarabiMincho-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}





